{% extends 'base2.html' %}
{% load static %}
{% block title %}BBM #1 for Buying and Belling Online Businesses{% endblock title %}
{% block body %}
<main id="main">
<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>What are you selling?</h2>
        <p>1000+ buyers are waiting</p>
      </div>

      <div class="section-title">
        <h4>Please Choose what are you selling from below</h4>
      </div>
      <div class="row gy-6">
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box iconbox-blue">
            <div class="icon">
                <i class="fas fa-chart-pie"></i>
            </div>
            <h4><a href="">Established Websites and Online Businesses</a></h4>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box iconbox-orange">
            <div class="icon">
                <i class="fas fa-folder-open"></i>
            </div>
            <h4><a href="sellwebsite">Starter/Template Websites</a></h4>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box iconbox-blue" s>
            <div class="icon">
                <i class="fas fa-mouse-pointer"></i>
            </div>
            <h4><a href=""> Domain Name Selling </a></h4>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box iconbox-pink">
            <div class="icon">
              <i class="fas fa-mobile"></i>
            </div>
            <h4><a href=""> iOS or Android Apps {{i.url}}</a></h4>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Services Section -->
</main>
{% endblock body %}